compress_service/uploads/*
compress_service/compressed/*

compress_service/.env
frontend/.env

!compress_service/uploads/__init__.py
!compress_service/compressed/__init__.py

.vscode
**/__pycache__
**/__pycache__/**
venv

.DS_Store
**/.DS_Store

.env
